@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css";
.progress {
  display: inline-flex;
  align-items: center;
  counter-reset: step;
  padding: 0;
  height: 300px;
  background-color: transparent;
  width: 100%;
  color: #F2F2F2;
  font-family: "Palanquin", sans-serif;
  list-style: none;
  text-transform: uppercase; }
  .progress .progress-circle {
    align-items: center;
    border-radius: 50%;
    border: 5px solid #F2F2F2;
    display: flex;
    flex-flow: column nowrap;
    height: 120px;
    width: 120px; }
    .progress .progress-circle:before {
      color: #fff;
      content: '\f00c';
      font-family: 'FontAwesome';
      font-size: 3em;
      margin-top: 18px; }
    .progress .progress-circle span {
      margin-top: 50px;
      font-size: 25px; }
      .progress .progress-circle span.time {
        font-size: 18px;
        margin-top: 0; }
    .progress .progress-circle.done {
      background: #C9D645;
      border: 5px solid #C9D645;
      color: #C9D645; }
    .progress .progress-circle.extra {
      background: red;
      border: 5px solid red; }
      .progress .progress-circle.extra:before {
        content: '\f2718'; }
      .progress .progress-circle.extra span {
        color: red; }
  .progress .progress-bar {
    flex: 1;
    height: 12px;
    background: #F2F2F2; }
    .progress .progress-bar.done {
      background: #C9D645; }
    .progress .progress-bar.extra {
      background: red; }
